/*Desktops - 1024px - 1200px
*****************************/

@media only screen and (max-width: 1200px){
    
}

/*Tablets - 768px - 1023px
*****************************/

@media only screen and (max-width: 1023px){
    
}

/*Small phones/tablets - 481px-767px
*****************************/

@media only screen and (max-width: 767px){
    
    #about{
    
    background-color: #F4F4F4;
    width: auto;
    text-align: center;
    height: 50%;
    padding-top: -50px;    
}

#about h2{
    font-weight: bolder;
    margin-bottom: 25px;
}

.about-text{
    margin: 55px 0;
}
    
    .skill-logos{
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 10px;
    
}
}

/*Small phones - less than or equal to 480px
*****************************/

@media only screen and (max-width: 480px){
    .skill-logos{
    height: 25px;
    width: 25px;
    display: inline-block;
    margin-bottom: 5px;
    
}
    
}