/** COLORS
 attention color:  #007edc

****/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    padding-bottom: 35px;
    padding-top: 35px;
}


html,body{
    font-family: 'Raleway',serif;
    font-weight: 300;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

body{
    
    text-align: center;
}

.clearfix{ zoom: 1 }
.clearfix:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
    overflow: hidden;
}

/****** LANDING ******/

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.7)),url(/images/gallery/hero.jpg);
    height: 90vh;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}




.hero-text-box{
    position: absolute;
    width:100%;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

h1{
    margin: 0;
    font-size: 3em;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

h2{
    color: #007edc;
    font-size: 2em;
}

.btn-round{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    margin: 8px;
}



.btn-round-full:link,
.btn-round-full:visited{
    background-color: #007edc;
    border: 1px solid #007edc;
    color: white;
    text-decoration: none;
}

.btn-round-ghost:link,
.btn-round-ghost:visited{
    border: 1px solid #007edc;
   text-decoration: none;
    color: white;
}

.btn-round-full:hover,
.btn-round-full:active{

    border: 1px solid #003a65;
    background-color: #003a65;
    text-decoration: none;

}

.btn-round-ghost:hover,
.btn-round-ghost:active{
    background-color: #003a65;
    border: 1px solid #003a65;
    text-decoration: none;

}


/****** ABOUT ******/

#about{

    background-color: #F4F4F4;
    width: auto;
    text-align: center;
    height: 100%;
    padding-top: -50px;
}

#about h2{
    font-weight: bolder;
    margin-bottom: 50px;

}

#about p{
    font-size: 1.3rem;
}

#about-blurb{
    text-align: left;
    margin-top: 0px;
}

#profile{
    border-radius: 50%;
    margin-top: -50px;
}

.icons{
  display:inline-block;
}

.icon{
    font-size: 500%;
}
.icon-block{
  display:inline-block;
}


/*******GALLERY******/

#gallery{

    background-color: rgba(164, 164, 164, 0.31);
    height: 100%;
    margin-bottom: -30px;

}


#gallery h3{
    margin-bottom: 20px;
}

.caption{
    position: relative;
    overflow: hidden;
    transform: translateZ(0);

}

.caption-media{
    display: block;
    min-width: 100%;
    max-width: 100%;
    
    height: auto;
}

.caption-overlay{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    padding: 10px;
    color:white;
    transform: translateY(100%);
    transition: transform .35s ease-out;
    opacity: 0;
}

.caption:hover .caption-overlay,
.caption:hover .caption-overlay h1{
    transform: translateY(0);
    color: white;
    opacity: 1;
}

.caption-overlay-title{
    margin: 0;
    padding: 0 0 12px;
    transform: translateY(calc(-100% - 10px));
    transition: transform .35s ease-out;
}

.caption-overlay-text{
    text-align: left;
}

.caption:hover .caption-overlay-title{
    transform: translateY(0);
}

.caption::before{
    content:' ';
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: transparent;
    transition: background .35s ease-out;
}

.caption:hover::before{
    background: rgba(0,0,0,.7);
}


/*----------CONTACT----------*/

#contact{
    background-color: #F4F4F4;
}

#contact h2{
    text-align: center;
    font-weight: bolder;
    margin-bottom: -5px;
}


.contact-input{
    font-size: 80%;
}


.form-messages{
    text-align: center;
    display: inline-block;
    width: 70%;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.success{
    background-color: rgba(0, 208, 56, 0.3);
}

.error{
    background-color: rgba(237, 34, 34, 0.21);
}

.contact-social{
    margin: 0 auto;
}

.buttons{
    margin: 0 auto;
    text-align: center;
}

textarea{
    margin-bottom: 10px;
}

.buttons{

    margin: 0 auto;
    text-align: center;

}

a.btn-default { height: 44px; border-radius: 0; border: 0; width: 250px; text-align: left; margin: 0 5px 10px 0; position: relative; background-color: #FFFFFF; padding: 10px; transition: all .35s; padding: 0; line-height: 47px; overflow: hidden; }
a.btn-default i { display: block; float: left; position: absolute; left: 12px; top: 10px; font-size: 24px; color: #FFFFFF; position: relative; z-index: 1;  }
a.btn-default span { position: relative; z-index: 1; padding-left: 30px; }
a.btn-default:after { content: ''; display: block; width: 44px; height: 44px; position: absolute; top: 0; left: 0; z-index: 0; transition: all .35s; }

a.codepen-btn:after{background-color:  #03829a; }
a.freecodecamp-btn:after { background-color:#556b2f; }
a.github-btn:after { background-color: #950000; }
a.email-btn:after { background-color: #007edc; color:black; }
a.btn-default:hover, a.btn-default:focus { background-color: #FFFFFF; color: #FFFFFF; }
a.btn-default:hover:after { width: 100%; }

.email h4{
    display: inline-block;
}

#email-icon{
    color: #007edc;
    margin-right:5px;
    transition: all .2s ease-in-out;
    
}

#email-icon:hover{
    transform: scale(1.3);
}

/*----------Footer----------*/
footer{
    color: #d30035;
    background-color: rgba(164, 164, 164, 0.31);
    height: 100%;
    text-align: center;
    font-size: 1.2em;
}
