/** COLORS
 attention color:  #007edc

****/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    padding-bottom: 50px;
}


html,body{
    font-family: 'Raleway',serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden; 
}

section{
    padding-bottom: 50px;
}

.clearfix{ zoom: 1 }
.clearfix:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
    overflow: hidden;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.7)),url(/xchendo.github.io/images/hero.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center;
}

.hero-text-box{
    position: absolute;
    width:100%;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

h1{
    margin: 0;
    font-size: 240%;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

h2{
    color: #007edc;
    font-size: 210%;
}

.btn-round{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    margin: 8px;
}



.btn-round-full:link,
.btn-round-full:visited{
    background-color: #007edc;
  border: 1px solid #007edc;
    color: white;
    text-decoration: none;
}

.btn-round-ghost:link,
.btn-round-ghost:visited{
    border: 1px solid #007edc;
   text-decoration: none;
    color: white;
}

.btn-round-full:hover,
.btn-round-full:active{

    border: 1px solid #003a65;
    background-color: #003a65;
    text-decoration: none;
    
}

.btn-round-ghost:hover,
.btn-round-ghost:active{
    background-color: #003a65;
    border: 1px solid #003a65;
    text-decoration: none;
    
}


/****** ABOUT ******/ 

#about{
    
    background-color: #F4F4F4;
    width: auto;
    text-align: center;
    height: 100%;
    padding-top: -50px;    
}

#about h2{
    font-weight: bolder;
    margin-bottom: 50px;
  
}



.icons{
  display:inline-block;
}

.icon{
    font-size: 500%;
  
}
.icon-block{
  display:inline-block;
}


/*******GALLERY******/

#gallery{
    text-align: center;
    background-color: rgba(164, 164, 164, 0.31);
    height: 100%;
    margin-bottom: -30px;
    
}


#gallery h3{
    margin-bottom: 50px;
}



.title-block{
    background-color: #F4F4F4;
    display: inline-block;
    border: 1px solid black;
    margin-bottom: 30px;
    
}

.title-block a
{
    color:black;
    text-decoration: none;
    
}

.title-block a:hover{
    text-decoration: none;  
}

#gallery img{
    max-width: 453px;

}
/*----------CONTACT----------*/

#contact{
    background-color: #F4F4F4;
}

#contact h2{  
    text-align: center;
    font-weight: bolder;
    margin-bottom: -5px;
}


.contact-input{
    font-size: 80%;
}



.contact-social{
    width: 100%;   
}

.buttons{
    margin: 0 auto;
    text-align: center;
}

textarea{
    margin-bottom: 10px;
}

.buttons{
    
    margin: 0 auto;
    text-align: center;
    
}

a.btn-default { height: 44px; border-radius: 0; border: 0; width: 250px; text-align: left; margin: 0 5px 10px 0; position: relative; background-color: #FFFFFF; padding: 10px; transition: all .35s; padding: 0; line-height: 47px; overflow: hidden; }
a.btn-default i { display: block; float: left; position: absolute; left: 12px; top: 10px; font-size: 24px; color: #FFFFFF; position: relative; z-index: 1;  }
a.btn-default span { position: relative; z-index: 1; padding-left: 30px; }
a.btn-default:after { content: ''; display: block; width: 44px; height: 44px; position: absolute; top: 0; left: 0; z-index: 0; transition: all .35s; }

a.codepen-btn:after{background-color:  #03829a; }
a.freecodecamp-btn:after { background-color:#556b2f; }
a.github-btn:after { background-color: #950000; }
a.btn-default:hover, a.btn-default:focus { background-color: #FFFFFF; color: #FFFFFF; }
a.btn-default:hover:after { width: 100%; }

/*----------Footer----------*/
footer{
    color: #d30035;
    background-color: rgba(164, 164, 164, 0.31);
    height: 100%;
    text-align: center;
    font-size: 80%;
}
