* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

body{
   font-size: 220%;
    color: #373737 ;
    background-color: #F4F4F4;
    
    /*#FFACAA*/
    /* CHARCOL */
}

h1{

    font-weight:bolder;
    font-size: 60px;
    color:white;
    
}

#hero h2{
    font-weight: bold;
    color: #d30035;
   
    
}

img{
    height: 300px;
    width: auto;
    object-fit: contain;
}

section{
    padding: 50px 0;
}

p{
    display: block;

}




/*----------Landing----------*/
#hero{
  
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/images/desktop-view.jpg); 
    /*50% 0 repeat fixed;*/
  background-size:cover;
  background-position: center;
  height: 100vh;
    width: 100%;
    
    /*;
    background-attachment: fixed;*/
}

.hero-text{   
    left: 0;
    line-height: 100px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-weight: bolder;
}

#hero button{
    
    padding: 5px 5px;
    line-height: 50px;
    background-color: transparent;
    border: 3px solid red;
    border-radius: 25px;
    color: white;  
}

#hero button:hover{
    color: #d30035;
}

/*----------ABOUT----------*/
#about{
    
    background-color: #F4F4F4;
    background-size: cover;
    width: auto;
    text-align: center;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: -50px;    
}

#about h2{
    font-weight: bolder;
    margin-bottom: 55px;
}

.about-text{
    margin: 55px 0;
}
.skill-logos{
    height: 150px;
    width: 150px;
    display: inline-block;
    margin-bottom: 25px;
    
}

/*----------GALLERY----------*/

#gallery{
    text-align: center;
    background-color: white;
    height: 100%;
    
}

#gallery h2{
    font-weight: bolder;
}

#gallery h3{
    margin-bottom: 55px;
}

.gallery-pictures{
    display: inline-block;
    margin: 0 auto;
    background-color: white;
    
}

#gallery img{
    height: auto;
    width: 320px;   
    margin: 10px auto;
    overflow: hidden;
   
}

/*#gallery img:hover{
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    
    
}*/
.gallery-thumb{

}

.gallery-block{
    width: 300px;
    height: 300px;
    margin: 0px auto 0px auto;
}

#quote{
    background-image: url(/images/gallery/random-quote-machine.png);
    background-size: contain;
}

#weather{
    background-image: url(/images/gallery/local-weather.png);
    background-size: contain;
}

#wiki{
    background-image:url(/images/gallery/wiki-viewer-2.png);
    background-size: contain;
}

#twitch{
    background-image: url(/images/gallery/twitch-viewer-2.png);
    background-size: contain;
}

#calculator{
    background-image: url(/images/gallery/calculator.png);
    background-size: contain;
    margin-bottom:0px;
}

#pomodoro{
    background-image: url(/images/gallery/pomodoro.png);
    background-size: cover;
}

.title-block{
    background-color: #F4F4F4;
    display: inline-block;
    border: 1px solid #d30035;
    margin-bottom: 35px;
    
}

.well:hover{
    background: rgba(255, 255, 255, 0.5);
    color: #d30035;
    
}


/*----------CONTACT----------*/

#contact{
    background-color: #F4F4F4;
}

#contact h2{  
    text-align: center;
    font-weight: bolder;
    margin-bottom: 55px;
}


.contact-input{
    font-size: 80%;
}



.contact-social{
    width: 100%;   
}

.buttons{
    margin: 0 auto;
    text-align: center;
}

textarea{
    margin-bottom: 10px;
}

a.btn-default { height: 44px; border-radius: 0; border: 0; width: 250px; text-align: left; margin: 0 5px 10px 0; position: relative; background-color: #FFFFFF; padding: 10px; transition: all .35s; padding: 0; line-height: 47px; overflow: hidden; }
a.btn-default i { display: block; float: left; position: absolute; left: 12px; top: 10px; font-size: 24px; color: #FFFFFF; position: relative; z-index: 1;  }
a.btn-default span { position: relative; z-index: 1; padding-left: 30px; }
a.btn-default:after { content: ''; display: block; width: 44px; height: 44px; position: absolute; top: 0; left: 0; z-index: 0; transition: all .35s; }

a.codepen-btn:after{background-color:  #03829a; }
a.freecodecamp-btn:after { background-color:#556b2f; }
a.github-btn:after { background-color: #950000; }
a.btn-default:hover, a.btn-default:focus { background-color: #FFFFFF; color: #FFFFFF; }
a.btn-default:hover:after { width: 100%; }

/*----------Footer----------*/
footer{
    color: #d30035;
    
    height: 100%;
    text-align: center;
    font-size: 80%;
}



